extends layout

block content
  h1 It's Worked
  p Welcome to #{title}
  p 
    a(href="/blabla") 404 Test 
    | &nbsp;
    a(href="/error") Error Test
    br
  | Need some more, plase follow my github and gift rate to this repo, thank you
  br
  a(target="_blank" href="https://github.com/yussan/express-mongodb-boilerplate") https://github.com/yussan/express-mongodb-boilerplate
